.device-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.device-box {
    width: 95%;
    height: 80vh;
}

#search {
    cursor: pointer;
}

input[type="file"] {
    display: none;
}