.menu {
    width: 400px;
    height: 100vh;
    transition: all 0.8s;
}
.menu-frame {
    height: 90%;
}

.log-out {
    position: absolute;
    bottom: 5%;
    /* margin-top: 70%; */
}

.menu-head {
    margin-top: 60px;
    height: 45px;
    display: flex;
    margin-bottom: 30px;
}

.close-menu {
    width: 120px;
}

.menu-btn {
    margin-left: 40px;
}

.menu-text {
    width: 70%;
    color: white;
    overflow: hidden;
    font-size: 36px;
    font-weight: 600;
    padding-left: 50px;
    font-family: 'Pretendard-Regular';
}

input[id="icon"] {
    display: none;
}

input[id="icon"]:checked {
    display: none;
}

input[id="icon"] + label{
    display:block;
    width:40px;
    height:25px;
    cursor:pointer;
    position:relative;
    margin-top:10px;
}

input[id="icon"] + label > span{
    display:block;
    width:100%;
    height:4px;
    border-radius:30px;
    background: white;
    position:absolute;
    transition: all 0.35s;
    z-index:2;
}

input[id="icon"] + label > span:nth-child(1){
    top:0px;
}
input[id="icon"] + label > span:nth-child(2){
    top:50%;
    transform:translateY(-50%);
}
input[id="icon"] + label > span:nth-child(3){
    bottom:0px;
}

@media (max-width: 430px) {
    .menu{
        width: 100px;
    }
    input[id="icon"] + label{
        display:block;
        width:30px;
        height:20px;
        cursor:pointer;
        position:relative;
        margin-top:10px;
    }

    input[id="icon"] + label > span{
        display:block;
        width:100%;
        height:2px;
        border-radius:30px;
        position:absolute;
        transition: all 0.35s;
        z-index:2;
    }

    input[id="icon"] + label > span:nth-child(1){
        top:0px;
    }
    input[id="icon"] + label > span:nth-child(2){
        top:50%;
        transform:translateY(-50%);
    }
    input[id="icon"] + label > span:nth-child(3){
        bottom:0px;
    }

    input[id="icon"]:checked + label > span:nth-child(1){
        top:50%;
        transform:translateY(-50%) rotate(45deg)
    }
    input[id="icon"]:checked + label > span:nth-child(2){
        opacity:0;
    }
    input[id="icon"]:checked + label > span:nth-child(3){
        bottom:50%;
        transform:translateY(50%) rotate(-45deg)
    }
  
    
}